.blog {
  position: relative;
  .title-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px 0 110px;
    position: relative;
    z-index: 2;
    .title {
      font-family: 'Proxima Nova Th';
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }
  .blog-tabs {
    padding-top: 25px;
    margin-bottom: 28px;
    .tabs-triggers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .tabs-triggers__item {
        border-radius: 50px;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        padding: 4px;
        &-all {
          height: 36px;
          background: #f67e50;
          position: relative;
          z-index: 2;
          min-width: 100%;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #f67e50;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            // content: '';
            // position: absolute;
            // transform: translate(-50%, 0);
            // left: 50%;
            // bottom: -8px;
            // width: 80%;
            // height: 16px;
            // background: #f67e50;
            // filter: blur(20px);
            // z-index: -1;
            opacity: 1;
          }
        }
        &-1 {
          background: #6885ef;
          min-width: 46%;
          position: relative;
          z-index: 2;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #6885ef;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            opacity: 1;
          }
        }
        &-2 {
          background: #7f70ec;
          min-width: 46%;
          position: relative;
          z-index: 2;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #7f70ec;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            opacity: 1;
          }
        }
        &-3 {
          background: #b54dc9;
          min-width: 46%;
          position: relative;
          z-index: 2;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #b54dc9;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            opacity: 1;
          }
        }
        &-4 {
          background: #d150b4;
          min-width: 46%;
          position: relative;
          z-index: 2;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #d150b4;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            opacity: 1;
          }
        }
        &-5 {
          background: #a359e5;
          min-width: 46%;
          position: relative;
          z-index: 2;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #a359e5;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            opacity: 1;
          }
        }
        &-6 {
          background: #9533ec;
          min-width: 46%;
          position: relative;
          z-index: 2;
          &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: -8px;
            width: 80%;
            height: 16px;
            background: #9533ec;
            filter: blur(20px);
            z-index: -1;
            opacity: 0;
            transition: all 0.7s;
          }
          &:hover::after {
            opacity: 1;
          }
          &.active::after {
            opacity: 1;
          }
        }
      }
    }
  }
  .blog-content {
    .content-inner {
      padding: 0 0 44px;
      .blog-list {
        margin-bottom: 37px;
        &__item {
          position: relative;
          z-index: 2;
          padding: 20px 20px 15px;
          background-color: var(--white-color);
          box-shadow: 0px 4px 22px rgba(156, 173, 189, 0.29);
          border-radius: 5px;
          margin-bottom: 20px;
          transition: all 0.8s;
          cursor: pointer;
          display: none;
          &.active {
            display: block;
          }
          .card-link {
            width: 100%;
            height: 100%;
          }
          .item-img {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            img {
              width: 100%;
              height: 100%;
              // object-fit: cover;
            }
          }
          .item-description {
            .option-wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .label-mark {
              display: flex;
              justify-content: center;
              align-items: center;
              width: fit-content;
              min-width: 88px;
              // height: 20px;
              padding: 3px 10px;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              color: #ffffff;
              border-radius: 50px;
              &__1 {
                background: #6885ef;
              }
              &__2 {
                background: #7f70ec;
              }
              &__3 {
                background: #b54dc9;
              }
              &__4 {
                background: #d150b4;
              }
              &__5 {
                background: #a359e5;
              }
              &__6 {
                background: #9533ec;
              }
            }
            .blog-date {
              color: #959ab6;
              font-size: 14px;
              line-height: 21px;
              margin-bottom: 4px;
            }
            .blog-link {
              font-weight: 600;
              font-size: 16px;
              line-height: 18px;
              &:hover,
              &:active,
              &:focus {
                color: #7e15b6;
              }
            }
          }
          &:hover {
            transform: scale(1.05);
            .item-description {
              .blog-link {
                color: #7e15b6;
              }
            }
          }
        }
      }
      .button__load-more {
        display: flex;
        margin: 0 auto;
        width: 218px;
        height: 50px;
        outline: none;
        border: none;
      }
    }
  }
  @media (min-width: 768px) {
    .title-wrapper {
      padding: 0;
      height: 25vh;
      padding-top: 70px;
      text-align: center;
      .title {
        font-family: 'Proxima Nova Lt';
        font-size: 48px;
        line-height: 58px;
        text-transform: capitalize;
      }
    }
    .blog-tabs {
      .tabs-triggers {
        justify-content: flex-start;
        .tabs-triggers__item {
          margin-right: 31px;
          padding: 9px 10px;

          &:last-child {
            margin-right: 0;
          }
          &-all,
          &-1,
          &-2,
          &-3,
          &-4,
          &-5,
          &-6 {
            min-width: 146px;
          }
        }
      }
    }
    .blog-content {
      .content-inner {
        .blog-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          &__item {
            width: 48%;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 775px;
      height: 759px;
      background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
      filter: blur(65px);
      transform: rotate(-50.78deg);
      left: -15%;
      bottom: 0%;
    }
    &::after {
      content: '';
      position: absolute;
      width: 775px;
      height: 759px;
      background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
      filter: blur(105px);
      transform: rotate(-50.78deg);
      right: -35%;
      bottom: 25%;
    }
    .title-wrapper {
      height: 40vh;
      padding-top: 70px;
    }
    .blog-content {
      .content-inner {
        .blog-list {
          justify-content: flex-start;
          margin: 0 -10px;
          &__item {
            width: 32%;
            max-width: 310px;
            margin: 0 10px 20px;
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .blog-content {
      .content-inner {
        .blog-list {
          &__item {
            width: 32%;
            max-width: 400px;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) and (min-height: 700px) {
    .title-wrapper {
      padding-top: 70px;
    }
  }
  @media (min-width: 1024px) and (min-height: 780px) {
    .title-wrapper {
      padding-top: 120px;
    }
  }
}
