.blog-page {
  position: relative;
  .title-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px 0 60px;
    position: relative;
    z-index: 2;
    .title {
      font-family: 'Proxima Nova Th';
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }
  .blog-page-content {
    padding: 32px 0;
    .route-wrapper {
      margin-bottom: 24px;
      .route-link {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        transition: all 0.7s;
        &__current {
          //   font-weight: 600;
          color: #a557d8;
          text-decoration: underline;
        }
        &:hover {
          color: #a557d8;
        }
      }
    }
    .label-wrapper {
      margin-bottom: 24px;
      .label {
        width: 134px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        &__first {
          background: #6885ef;
        }
        &__second {
          background: #7f70ec;
        }
        &__third {
          background: #b54dc9;
        }
        &__fourth {
          background: #b54dc9;
        }
        &__fifth {
          background: #a359e5;
        }
        &__sixth {
          background: #9533ec;
        }
      }
    }
    .content-wrapper {
      .content-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        margin-bottom: 32px;
        position: relative;
        z-index: 2;
      }
      .content-subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 17px;
        position: relative;
        z-index: 2;
      }
      .content-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        &__italica {
          font-style: italic;
        }
      }
      .video-wrapper {
        width: 100%;
        border-radius: 10px;
        position: relative;
        margin: 30px 0;
        img {
          border-radius: 10px;
        }
        .play-wrapper {
          position: absolute;
          z-index: 2;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          width: 34px;
          height: 21px;
        }
      }
      .blog-list__first {
        margin-bottom: 14px;
        .list-item {
          position: relative;
          z-index: 2;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 4px 17px #e7e9f8;
          border-radius: 20px 0px;
          padding: 16px 16px 10px 37px;
          margin-bottom: 14px;
          &__text {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 15px;
              height: 15px;
              background-image: url(../img/checked-blog__fiolet.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              left: -22px;
            }
          }
        }
      }
      .img-wrapper {
        margin-bottom: 25px;
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .blog-list__second {
        margin-bottom: 20px;
        .list-item {
          display: flex;
          position: relative;
          z-index: 2;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 4px 17px #e7e9f8;
          border-radius: 20px 0px;
          padding: 15px 15px 18px;
          margin-bottom: 13px;
          &__number {
            font-family: 'Proxima Nova Th';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            color: #8832ce;
            margin-right: 5px;
          }
          &__text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
    .online-course {
      padding: 27px 0 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
      &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
        margin-bottom: 10px;
      }
      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 30px;
      }
    }
    .author-wrapepr {
      margin-bottom: 30px;
      .author-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Proxima Nova Lt';
        margin-bottom: 16px;
      }
      .author-date {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #959ab6;
      }
    }
    .button__blog {
      width: 218px;
      padding: 14px;
    }
  }
  @media (min-width: 768px) {
    .title-wrapper {
      padding: 0;
      height: 25vh;
      padding-top: 70px;
      text-align: center;
      .title {
        font-family: 'Proxima Nova Lt';
        font-size: 48px;
        line-height: 58px;
        text-transform: capitalize;
      }
    }
    .blog-page-content {
      .content-wrapper {
        .blog-list__first {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 31px;
          .list-item {
            padding: 26px 18px 19px 62px;
            width: 48%;
            &__text {
              font-size: 18px;
              line-height: 22px;
              &::before {
                width: 20px;
                height: 20px;
                left: -34px;
                top: 2px;
              }
            }
          }
        }
        .blog-list__second {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 35px;
          .list-item {
            padding: 11px 25px 9px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
      .online-course {
        margin-bottom: 35px;
      }
      .author-wrapepr {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .author-title {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .title-wrapper {
      height: 28vh;
      padding-top: 70px;
    }
    .blog-page-content {
      position: relative;
      padding: 42px 0 105px;
      &::before {
        content: '';
        position: absolute;
        width: 775px;
        height: 759px;
        background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
        filter: blur(85px);
        transform: rotate(-50.78deg);
        left: -22%;
        top: 10%;
      }
      &::after {
        content: '';
        position: absolute;
        width: 775px;
        height: 759px;
        background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
        filter: blur(85px);
        transform: rotate(-122.58deg);
        right: -22%;
        top: 0%;
      }
      .route-wrapper {
        margin-bottom: 35px;
      }
      .label-wrapper {
        margin-bottom: 35px;
      }
      .content-wrapper {
        .content-title {
          font-size: 30px;
          line-height: 37px;
          margin-bottom: 30px;
        }
        .content-subtitle {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 27px;
        }
        .content-text {
          font-size: 18px;
          line-height: 22px;
        }
        .video-wrapper {
          .play-wrapper {
            width: 114px;
            height: 70px;
            a {
              display: flex;
              width: 100%;
              height: 100%;
            }
          }
        }
        .img-wrapper {
          position: relative;
          z-index: 2;
          img {
            position: relative;
            z-index: 2;
          }
          &::after {
            content: '';
            position: absolute;
            width: 775px;
            height: 759px;
            background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
            filter: blur(85px);
            transform: rotate(-50.78deg);
            right: -75%;
            top: -80%;
            z-index: 1;
          }
        }
      }
      .online-course {
        padding: 24px;
        max-width: 1240px;
        margin: 36px auto 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__subtitle {
          font-size: 30px;
          line-height: 37px;
          margin-bottom: 0px;
          margin-right: 37px;
        }
        &__title {
          font-size: 30px;
          line-height: 37px;
          margin-bottom: 0px;
        }
        .button {
          margin-left: auto;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .blog-page-content {
      .online-course {
        padding: 24px 50px 24px 60px;
      }
    }
  }
  @media (min-width: 1024px) and (min-height: 700px) {
    .title-wrapper {
      padding-top: 70px;
    }
  }
  @media (min-width: 1024px) and (min-height: 780px) {
    .title-wrapper {
      padding-top: 120px;
    }
  }
}
