.banner-wrapper {
  position: relative;
  padding: 10px 0 40px;
  // height: 100%;
  // max-height: 850px;
  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   height: 100%;
  // }
  .anchor-wrapper {
    display: none;
  }
  .title-wrapper {
    padding-top: 40px;
    .course-mark {
      font-family: 'Proxima Nova Th';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: #ffcf23;
      margin-bottom: 9px;
    }
    .main-title {
      font-family: 'Proxima Nova Th';
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--white-color);
      margin-bottom: 4px;
      &__span {
        line-height: 40px;
        color: #ffcf23;
        font-style: normal;
        font-weight: 800;
        font-family: 'Proxima Nova Th';
      }
    }
    .main-subtitle {
      font-family: 'Proxima Nova Lt';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 21px;
      color: var(--white-color);
      width: 85%;
      margin-bottom: 15px;
    }
  }
  .content-wrapper {
    margin-top: 25px;
    position: relative;
    padding-bottom: 82px;
    margin-left: auto;
    .video-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      width: 100%;
      background-image: url(../img/video__bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      backdrop-filter: blur(45px);
      border-radius: 10px;
      max-width: 400px;
      max-height: 230px;
      position: relative;
      img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .play-wrapper {
        position: absolute;
        width: 37px;
        height: 27px;
        object-fit: cover;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        a {
          display: flex;
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .description-wrapper {
      position: absolute;
      transform: translate(-50%, 0);
      left: 52%;
      bottom: 8%;
      width: 250px;
      height: auto;
      padding: 11px 11px 12px 14px;
      background: rgba(255, 255, 255, 0.21);
      backdrop-filter: blur(45px);
      border-radius: 20px 0px;
      .description-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: var(--white-color);
        &__span {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 15px;
          color: var(--white-color);
        }
      }
    }
  }
  @media (min-height: 650px) {
    .container {
      justify-content: space-around;
    }
  }
  @media (min-width: 768px) {
    .container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 100px;
    }
    .title-wrapper {
      width: 80%;
      .course-mark {
        font-size: 48px;
        line-height: 58px;
      }
      .main-title {
        font-size: 48px;
        margin-bottom: 20px;
      }
      .main-subtitle {
        font-size: 24px;
        margin-bottom: 40px;
      }
    }
    .content-wrapper {
      margin-top: 0;
      width: 375px;
      padding-bottom: 24px;
      .video-wrapper {
        .play-wrapper {
          width: 50px;
          height: 35px;
        }
      }
      .description-wrapper {
        bottom: -12%;
        left: 50%;
        width: 314px;
        min-height: 84px;
        .description-text {
          line-height: 19px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 50px 0 134px;
    .container {
      display: flex;
      flex-direction: row;
      padding-bottom: 110px;
    }
    .anchor-wrapper {
      position: absolute;
      transform: translate(-50%, 0);
      left: 50%;
      bottom: 170px;
      transition: all 0.7s;
      cursor: pointer;
      display: block;
      p {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: #ffffff;
        transform: rotate(-90deg);
      }
      &::after {
        content: '';
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        bottom: -80px;
        width: 52px;
        height: 52px;
        background-image: url(../img/arrow-down.svg);
        background-position: center;
        background-size: contain;
      }
    }
    .inner-wrapper {
      display: flex;
      align-items: center;
      width: 60%;
      .title-wrapper {
        width: 95%;
        padding-top: 0;
        .main-title {
          font-size: 64px;
          line-height: 69px;
          &__span {
            font-size: 64px;
            line-height: 69px;
          }
        }
        .main-subtitle {
          max-width: 500px;
          line-height: 27px;
        }
      }
    }
    .content-wrapper {
      display: flex;
      align-items: flex-end;
      padding-bottom: 0;
      .description-wrapper {
        bottom: -8%;
        left: 54%;
      }
    }
  }
  @media (min-width: 1280px) {
    .container {
      display: flex;
      flex-direction: row;
      padding-bottom: 150px;
    }
    .inner-wrapper {
      margin-top: 50px;
    }
  }
  @media (min-width: 1400px) {
    .inner-wrapper {
      .title-wrapper {
        margin-top: 0px;
      }
    }
  }
}
.about-course {
  .description-courses {
    padding: 25px 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 337px;
      height: 330px;
      background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
      filter: blur(107px);
      transform: rotate(-50.78deg);
      top: 10%;
      left: -52%;
    }
    .img-wrapper {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .description-text {
      padding: 10px 0;
      .description-title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
      }
      .description-list {
        &__item {
          background: #ffffff;
          box-shadow: 0px 4px 17px #e7e9f8;
          border-radius: 20px 0px;
          padding: 10px 20px 10px 46px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          position: relative;
          z-index: 2;
          min-height: 45px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          .item-text {
            position: relative;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 17px;
            color: #25232d;
            &::before {
              content: '';
              position: absolute;
              width: 16px;
              height: 16px;
              background-image: url(../img/icon-checked__orange.png);
              background-repeat: no-repeat;
              background-size: cover;
              left: -28px;
            }
          }
        }
      }
    }
  }
  .comparison-courses {
    padding-bottom: 40px;
    .comparison-title {
      text-align: center;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 21px;
      &__span {
        // font-family: 'Proxima Nova Lt';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 27px;
      }
    }
    .list-wrapper {
      .list-before {
        margin-bottom: 43px;
        .before-title {
          font-family: 'Proxima Nova Th';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          color: #fb4f19;
          margin-bottom: 17px;
        }
        .list {
          &-item {
            position: relative;
            z-index: 2;
            background-color: #fff;
            box-shadow: 0px 4px 17px #e7e9f8;
            border-radius: 20px 0px;
            padding: 14px 7px 13px 17px;
            display: flex;
            &:not(:last-child) {
              margin-bottom: 11px;
            }
            &__text {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              position: relative;
              margin-left: 13px;
            }
          }
        }
      }
      .list-after {
        .after-title {
          font-family: 'Proxima Nova Th';
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          color: #7e15b6;
          margin-bottom: 17px;
        }
        .list {
          &-item {
            position: relative;
            z-index: 2;
            background-color: #fff;
            box-shadow: 0px 4px 17px #e7e9f8;
            border-radius: 20px 0px;
            padding: 14px 7px 13px 17px;
            display: flex;
            &:not(:last-child) {
              margin-bottom: 11px;
            }
            &__text {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              position: relative;
              margin-left: 13px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .description-courses {
      display: flex;
      justify-content: space-between;
      .img-wrapper {
        width: 35%;
      }
      .description-text {
        width: 62%;
        .description-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: stretch;
          &__item {
            width: 48%;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .description-courses {
      padding: 125px 0 25px;
      width: 100%;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 775px;
        height: 759px;
        background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
        filter: blur(107px);
        transform: rotate(-50.78deg);
        top: 15%;
        left: -60%;
      }
      .description-text {
        padding: 0;
        .description-title {
          text-align: left;
          font-size: 36px;
          line-height: 44px;
        }
        .description-list {
          &__item {
            max-width: 340px;
            .item-text {
              font-size: 19px;
              line-height: 17px;
            }
          }
        }
      }
    }
    .comparison-courses {
      .comparison-title {
        max-width: 820px;
        margin: 0 auto 49px;
        font-size: 30px;
        line-height: 27px;
        &__span {
          font-size: 36px;
          line-height: 44px;
        }
      }
      .list-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 91px;
        .list-before {
          width: 48%;
          .before-title {
            font-size: 24px;
            line-height: 29px;
          }
          .list {
            &-item {
              padding: 20px;
              &__text {
                font-size: 18px;
                line-height: 22px;
              }
            }
          }
        }
        .list-after {
          width: 48%;
          .after-title {
            font-size: 24px;
            line-height: 29px;
          }
          .list {
            &-item {
              padding: 20px;
              &__text {
                font-size: 18px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .description-courses {
      padding: 125px 0 25px;
      &::before {
        background: linear-gradient(95.78deg, #aee0ff 16.73%, #fbe2fb 57.82%, #dad6ff 100.66%);
        filter: blur(87px);
        transform: rotate(-50.78deg);
        top: 15%;
        left: -50%;
      }
      .img-wrapper {
        width: 40%;
        position: relative;
        z-index: -1;
      }
      .description-text {
        width: 57%;
        margin-bottom: -23px;
        .description-list {
          &__item {
            max-width: 340px;
            margin-bottom: 23px;
            &:not(:last-child) {
              margin-bottom: 23px;
            }
            .item-text {
              font-size: 19px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }
}
