<footer class="footer">
  <div class="container">
    <ul class="social-list">
      <li class="social-list__item">
        <a href="javascript:void(0)" class="social-link" target="_blank">
          <svg class="icon-social">
            <use href="img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="javascript:void(0)" class="social-link" target="_blank">
          <svg class="icon-social">
            <use href="img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="nav-footer">
      <ul class="nav-footer-list">
        <li class="nav-footer-list__item">
          <a href="javascript:void(0)" class="nav-footer__link">Главная</a>
        </li>
        <li class="nav-footer-list__item">
          <a href="#courses" class="nav-footer__link anchor">Курсы</a>
        </li>
        <li class="nav-footer-list__item">
          <a href="#reviews" class="nav-footer__link anchor">Отзывы</a>
        </li>
        <li class="nav-footer-list__item">
          <a href="javascript:void(0)" class="nav-footer__link">Блог</a>
        </li>
        <li class="nav-footer-list__item">
          <a href="javascript:void(0)" class="nav-footer__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="footer-wrapper">
      <ul class="social-list__mob">
        <li class="social-list__mob__item">
          <a href="javascript:void(0)" class="social-link" target="_blank">
            <svg class="icon-social">
              <use href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__mob__item">
          <a href="javascript:void(0)" class="social-link" target="_blank">
            <svg class="icon-social">
              <use href="img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="mailto:test@yandex.ru" class="mail-link">
        <svg class="icon-mail">
          <use href="img/sprite.svg#icon-mail"></use>
        </svg>
        <p class="mail-link">test@yandex.ru</p>
      </a>
    </div>
  </div>
</footer>
