<header class="header">
  <div class="header__mob">
    <div class="container">
      <div class="header-burger">
        <span></span>
      </div>
      <nav class="header-menu">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="javascript:void(0)" class="menu-link active">Главная</a>
          </li>
          <li class="menu-list__item">
            <a href="#courses" class="menu-link anchor">Курсы</a>
          </li>
          <li class="menu-list__item">
            <a href="#reviews" class="menu-link anchor">Отзывы</a>
          </li>
          <li class="menu-list__item">
            <a href="javascript:void(0)" class="menu-link">Блог</a>
          </li>
          <li class="menu-list__item">
            <a href="javascript:void(0)" class="menu-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__decktop">
    <div class="container">
      <nav class="header-menu">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="javascript:void(0)" class="menu-link active">Главная</a>
          </li>
          <li class="menu-list__item">
            <a href="#courses" class="menu-link anchor">Курсы</a>
          </li>
          <li class="menu-list__item">
            <a href="#reviews" class="menu-link anchor">Отзывы</a>
          </li>
          <li class="menu-list__item">
            <a href="javascript:void(0)" class="menu-link">Блог</a>
          </li>
          <li class="menu-list__item">
            <a href="javascript:void(0)" class="menu-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
