<!-- communication-btn - этот класс повесить на кнопку для вызова модалки -->

<div class="modall modall-communication">
  <div class="close-btn close"></div>
  <div class="content">
    <h2>Укажите свои данные, наш менеджер свяжеться с вами</h2>
    <div class="forma-wrapper">
      <input class="input" type="text" id="name" name="name" placeholder="Ваше имя" autocomplete="off" required minlength="2" />
      <input class="input" type="tel" placeholder="Ваш телефон" id="tel" name="tel" autocomplete="off" required />
      <input class="input" type="email" placeholder="Ваш e-mail" id="email" name="email" autocomplete="off" required />
    </div>
    <button type="submit" href="javascript:void(0)" class="button close thx-btn">Отправить</button>
  </div>
</div>

<div class="modall modall-thx">
  <div class="close-btn close"></div>
  <div class="content">
    <h2>
      Ваша заявка отправлена. <br />
      Мы скоро свяжемся
    </h2>
  </div>
</div>
